@charset "UTF-8";
@font-face {
    font-family: 'xilosa';
    src: url(../fontes/xilosa_.ttf);
}

body {
    font-family: 'xilosa';
    text-align: center;
    background-color: rgb(221, 25, 211);
}
main {
    display: block;
}
section {
    border: 5px double black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}
header > h1 {
    font-variant: small-caps;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}